# فایل‌های حاوی رمزها و کلیدهای API (امنیت بسیار مهم)
.env
.env.*

# محیط‌های مجازی پایتون
venv/
.venv/
env/

# فایل‌های موقت پایتون و کش
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/




# فایل‌های تنظیمات محیط توسعه (مثل PyCharm یا VSCode)
.idea/
.vscode/

# فایل‌های لاگ و گزارش خطا
*.log